fastapi==0.109.2
uvicorn==0.27.1
pymongo==4.5.0
motor==3.3.2
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.0
modal==0.73.72
yt-dlp==2023.11.16
pydub==0.25.1
openai==1.14.0
python-jose==3.3.0
tiktoken==0.5.2